
<div class="footer-container">
  <div class="footer">
    <div>
      <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' rel='license' target="_blank">
        <img alt="creative commons license" src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png" style="border-width:0">
      </a>
    </div>
    <p>
      Unless otherwise specified, all original work contained in this blog, written or otherwise, is licensed
      under a <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' rel='license'>Creative Commons
        Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      You are free to do whatever you like with the content, as long as you
      (a) credit me as the original author,
      (b) don't try to make money off of it,
      (c) make it available under the same licence, and
      (d) keep it away from the penguins (unless you really want them to have it).
    </p>
  </div>
</div>