<div class="summary-container">

  <div class="post-header">
    <h1>Alphanumeric Sheep Pig</h1>
    <h2>Little more than three arbitrarily chosen words</h2>
  </div>

  <div class="post-content">

    <p>
      The most popular posts are those on:
    </p>
    <ul>
      <li><a [routerLink]="['/category', 'video game mechanics']">Video game mechanics</a></li>
      <li><a [routerLink]="['/category', 'fiction']">Fiction</a></li>
      <li><a [routerLink]="['/category', 'sky']">The sky</a></li>
    </ul>

    <p>
      If you're looking for more, you can start with the below. Be warned, you will learn more than you ever wanted to know about who I am by reading this blog.
    </p>

    <p>
      From a fairly early age, my parents raised me to have
      <a [routerLink]="['/post', 'on-why']">
      an  inquisitive mind</a>, which led me to find
      <a [routerLink]="['/post', 'on-results-of-boredom-and-not-very']">
      unusual cures for boredom</a>, often involving
      <a [routerLink]="['/post', 'my-mind-is-quite-prone-to-urges-to-look']">
       pointless amounts of mathematics</a>. My interests were heavily influenced by my
      <a [routerLink]="['/post', 'on-grandparents']">
      grandparents</a>, one of whom bought several electric kits for my father, which were later passed down to me, so I became quite aquainted with
      <a [routerLink]="['/post', 'on-electrocution']">
      electrocution</a>. In spite of this, I am still terrified of unexpected
      <a [routerLink]="['/post', 'on-door-handle-sparks']">
      shocks from door handles</a>.
    </p>
    <p>
      I've been plagued by chronic ear infections my whole life, and at the age of nine, I was diagnosed with my
      <a [routerLink]="['/post', 'on-modern-medicine-and-measurement-of']">
      first not-a-tumour</a>. As a result, I'm
      <a [routerLink]="['/post', 'on-some-vaguely-related-ideas']">
      mostly deaf on one side</a>. I was on cortisone medication for half my childhood, which my mom blames for my
      <a [routerLink]="['/post', 'on-abnormality-of-standard-sizes']">
      slightly shorter than average height</a>.
    </p>
    <p>
      That's not all that's wrong with me. Like so many kids, I was
      <a [routerLink]="['/post', 'on-adhd-and-sprained-ankle']">
      formally diagnosed with ADHD</a>, which was probably due to my tendency to do things like
      <a [routerLink]="['/post', 'on-pointlessness-of-bookmarks_01']">
      chew on bookmarks</a>,
      <a [routerLink]="['/post', 'on-pens-pencils-and-paper']">
      spin pens around</a>,
      <a [routerLink]="['/post', 'on-annoying-noises']">
       tap and knock on things</a> (although the
      <a [routerLink]="['/post', 'on-door-knocking']">
      knocking only started later on in life</a> because I didn't know how to knock and make a noise when I was younger), and the fact that I just have to have
      <a [routerLink]="['/post', 'on-fictional-nature-of-isolated']">
       something to keep my hands busy if my mind is occupied</a>. This, together with some compulsive behaviours like my
      <a [routerLink]="['/post', 'on-eating-in-order']">
      eating habits</a>, especially when it comes to
      <a [routerLink]="['/post', 'on-layered-meals']">
      layered meals</a>, and my lack of
      <a [routerLink]="['/post', 'on-depth-perception-problems-and-meal']">
      depth perception</a>, has led me to believe I may have some form of high-functioning autism. I have been seriously considering getting an official diagnosis, but who has time for that?
    </p>
    <p>
      I rarely
      <a [routerLink]="['/post', 'on-swearing']">
      swear</a>,
      <a [routerLink]="['/post', 'on-psychoactive-drugs']">
      don't do drugs</a>, enjoy
      <a [routerLink]="['/post', 'on-productive-use-of-compulsory-leisure']">
      sitting in traffic</a>, and my idea of formal wear is
      <a [routerLink]="['/post', 'on-collared-shirts']">
       newer jeans and a slightly neater T-shirt</a>. Despite what my
      <a [routerLink]="['/post', 'on-suspicious-interests']">
      library reading list says</a>, I'm not planning world domination. Surprisingly, my
      <a [routerLink]="['/post', 'on-dreams-part-ii']">
      dreams are incredibly mundane</a>. Contrary to what people seem to think, I'm
      <a [routerLink]="['/post', 'on-games-of-logic']">
      useless at chess</a>, and I
      <a [routerLink]="['/post', 'on-sports']">
      don't enjoy watching sports unless I can apply plenty of maths to it as the game progresses</a>.
    </p>
    <p>
      Applying statistics and mathematics to problems is my one true cure for boredom. If I can't sleep at night, I start worrying about
      <a [routerLink]="['/post', 'on-winter-problems']">
      statistics problems</a>, or the
      <a [routerLink]="['/post', 'on-efficiency-of-natural-night-time']">
       thermodynamic efficiency of my duvet</a>. In fact, I do this all the time - from worrying about how efficiently I'm
      <a [routerLink]="['/post', 'on-quartering-of-sandwiches']">
      slicing my sandwiches</a>, to
      <a [routerLink]="['/post', 'enchantment-level-vs-bookshelf-part-iii']">
      digging in the source code of video games so that I can calculate an optimal way to play</a>. I enjoy challenges, and whenever I overcome one, it leads to a
      <a [routerLink]="['/post', 'on-disabling-effect-of-sense-of']">
      sense of fulfilment which makes me useless for the rest of the day</a>.
    </p>
    <p>
      I walk around with an
      <a [routerLink]="['/post', 'on-seeing-world-in-polarised-light']">
      expression of wonder on my face</a> (which gets some weird stares), but who can blame me.
      <a [routerLink]="['/post', 'on-everything-it-is-just-so-damn']">
      Everything is just so damn amazing</a>. It frustrates me that other's
      <a [routerLink]="['/post', 'open-source-and-the-way-people-see-the-world']">
      see the world differently from me</a>. I really wish people would just really
      <a [routerLink]="['/post', 'on-fruits-and-vegetables']">
      think about it</a>.
    </p>

  </div>
</div>